td p.description span.thpys-shortcode {
	background: #fff;
	color: #000;
	font-weight: bold;
}

td p.description span.thpys-example {
	font-style: italic;
}

table.form-table {
	border-bottom: 1px solid #c3c4c7;
}

div.wrap table.thpys-last-table {
	border-bottom: none;
}

form h3,
.thpys-formsub h3 {
	padding-top: 25px;
}

td div.thpys-padding-block-wrapper {
	display: flex;
	align-items: flex-end;
}

div.thpys-padding-block {
	display: flex;
	text-align: center;
	flex-direction: column;
}

div.thpys-px {
	padding: 5px;
}

div.thpys-padding-block input {
	text-align: center;
	padding: 3px;
}

td div.thp-ysxfw-shadow-wrapper {
	display: flex;
	justify-content: space-between;
}

div.thp-ysxfw-shadow-control {
	width: 40%;
}

div.thp-ysxfw-shadow-display {
	width: 40%;
	height: auto;
	display: flex;
	flex-direction: column;
}

div.thp-ysxfw-property {
	margin-bottom: 25px;
}

div.thp-ysxfw-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.thp-ysxfw-top input {
	padding: 3px;
	text-align: center;
}

div.thp-ysxfw-property div.thpys-align-left input {
	text-align: left;
}

div.thp-ysxfw-shadow-display > div:first-child {
	font-style: italic;
}

div.thp-ysxfw-shadow-display > div:nth-child(2) {
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.thp-ysxfw-shadow-block {
	background-color: #ffffff;
	box-shadow: 0 0 15px 0 #333;
	width: 100px;
	height: 30px;
}

p.thpys-support-notice {
	font-weight: bold;
}

a.thpys-support-btn {
	margin: 15px auto 15px 15px !important;
}

form[name="thp_ysxfw_main_settings_form"] td textarea,
form[name="thp_yspro_main_settings_form"] td textarea {
	width: 400px;
	height: 75px;
}

.thpys-shortcode-copy {
	padding: 25px 40px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 150%;
}

.wrap div .updated {
	flex-basis: 100%;
}

#wpbody-content .wrap details {
	border: 2px dotted #b0b2b5;
	padding: 5px 10px;
	margin-top: 30px;
}

input.thpys-save-pro-btn {
	padding: 15px 20px;
	font-weight: 700;
	background: #fc1c03;
	border: 3px solid #fff;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.thpys-block-list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	width: 80%;
}

.thpys-block-list-item {
	padding: 10px 30px 30px 30px;
	border: 2px solid #2ea2cc;
	background: #f2f5fa;
	display: flex;
	gap: 30px;
	align-items: baseline;
}